/src/Teste.El.Backend.Api/obj
/src/Teste.El.Backend.Api/bin
/src/Teste.El.Backend.Application/obj
/src/Teste.El.Backend.Application/bin
/src/Teste.El.Backend.Domain/obj
/src/Teste.El.Backend.Domain/bin
/src/Teste.El.Backend.Infrastructure/obj
/src/Teste.El.Backend.Infrastructure/bin
/src/Teste.El.Backend.Tests/obj
/src/Teste.El.Backend.Tests/bin
/src/.vs
